.overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: #000;
    z-index:1000;
}

.trivial{
   margin:0 auto;
   font-family: Arial Narrow;

}
h1{
    text-align: center; 
    margin-bottom: 0;
    font-size: 30px;
}
h2{
    font-size:20px;
    color:#e30054;
    margin-top:0;
}
h5{
    font-size: 14px;
    color: #999;
    margin: 0;
    text-align: center;
}
ul{
    list-style: none;
    padding-left:0;
}

.container{
    width:80%;
    margin:20px auto 0;
    overflow:hidden;
    padding-bottom:10px;
}
.floatL{
    float:left;
}
.promedio{
    background-color:green;
    color:#fff;
    padding:5px;
    border-radius: 5px;
}
.ok{
    color:#fff;
    background-color:#e30054;
    padding:5px;
    border-radius: 5px;
}
.noOk{
    color:#fff;
    background-color:#000;
    padding:5px;
    border-radius: 5px;
}

.wrapper-preguntasrespuestas{
    float:left;
    width:48%;
    padding:0 20px;
    position:relative;
    border-right: 1px solid #ddd;
}
    .wrapper-preguntasrespuestas li{
        height:48px;
        line-height:48px;
    }

.wrapper-estadisticas{
    padding:20px;
}
    .wrapper-estadisticas ul li{
        margin-bottom:20px;
    }


.wrapper-marcador{
    float: left;
    width: 170px;
    padding: 0 20px;
    text-align:right;
}
    .wrapper-marcador h2{
        margin-bottom: 35px;
    }
    .wrapper-marcador ul li{
        margin-bottom:20px;
    }
    .wrapper-marcador ul span{
        border:1px solid #e30054;
        padding:5px;
        text-align:right;
        border-radius: 5px;
    }


#enviar{
    background-color:#e30054;
    border-radius:5px;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
    color:#fff;
    border:none;
    padding:5px;
}
    #enviar:hover{
        background-color:#ddd;
        color:#e30054;
    }

#siguiente{
    border:1px solid #e30054;
    text-align:center;
    text-transform:uppercase;
    font-size:12px;
    color: #e30054;
    padding:5px;
    border-radius:5px;
    text-decoration:none;
    display:block;
}
    #siguiente:hover{
        border-color:#000;
        color:#000;
    }
    button{
        height:42px;
        width:320px;

    }
    button:first-child{
        margin-right:5px;
    }

.reloj{
    background-color: #e30054;
    position: absolute;
    top: 50px;
    right: 30px;
    padding: 30px;
    border-radius: 20px;
}
#displayReloj{
    font-size: 56px;
   
    color:#fff;
}
#mensaje{
    font-size: 20px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    padding: 5px;
    text-align: center;
}


@media(min-width:768px){
    button{
        width:143px;
    }
}

@media(max-width:767px){
    .wrapper-preguntasrespuestas, .wrapper-marcador{
        float:none;
        width:auto;
        border:none;
        overflow:hidden;
        margin-bottom:20px;
    }
    .wrapper-marcador{
        float:left;
    }
    button{
        height:48px;
        display:block;
        width:100%;
        float:none;
    }
    #enviar{
        margin-bottom:12px;
    }
    ul{
        margin-top:5px;
    }
    .wrapper-estadisticas{
        padding-top:0;
    }
    .wrapper-estadisticas span{
        display:block;
    }
    .container + container{
        margin-top:0;
    }
}
